#nop 公孙止任务;
#class gsza open;

#nop 辅助别名;
#ali {gszaa} {ask gongsun about job};
#ali {gszd} {ask gongsun about finish};
#ali {gszf} {ask gongsun about fail};

#ali {jqg} {
   s;#6 w;
   #delay 1 {northwest;enter;enter;
   #delay 1 {move you;move zuo;move zuo;move zuo;move qian;
   #delay 1 {e;#5 n;
}}}};

#ali {jqgb} {
   #5 s;w;enter;
   #delay 1 {move qian;move zuo;move zuo;move zuo;move you;
   #delay 1 {out;se;#6 e;n;
}}};

#class gsza close;
