#nop 任务;
#class jwa open;

#ali {jwaa} {
  set wimpy 20;
  ask shaoyin about 任务信息};
#ali {jw} {record %1};
#ali {jwd} {ask shaoyin about 领赏};
#ali {jwq} {ask shaoyin about 积分};
#ali {jwf} {record cancel};

#ali {dc} {ask luren %1 about 消息;l luren %1};
#ali {zr} {yun qi;yun powerup;ask luren %1 about 盗贼};


#class jwa close;
