#nop 任务;
#class jxfa open;
#var f1_set 0;
#var f2_set 0;

#tic {jxfa} {#untic jxfa;jxfaa} {2};
#ali {jxfaa} {
  unset adv_quest;
  time;
  #var loc_lock 0;
  #var luck %1;
  #var bonus %2;
  ask ji xiaofu about job;
};
#ali {jxfd} {say $code;jxfx};
#ali {jxff} {ask ji about fail;#untic jxfa1;jxfx;};
#ali {r} {#var code %1};
#ali {pa} {clamber up};
#ali {ld} {look down};
#ali {jd} {
  p.yy;
  leap down;
  #delay 2 bm;
}

#act {^纪晓芙在你耳边轻声说道：$myid 据说他们会在%*密谋。} {
  #if {$loc_lock==0} {
    #var loc_lock 1;
    #var loc %1;
    #tic {jxfa1} {#echo {%c%h} {light yellow} {同伙在%1，到了clamber up。}} {5};
  };
};
#action {^你刚刚把自己藏起来，立刻听到了脚步声。} {
  #var code {};
  #class conv open;
  #action {^%%!s│%%!s%%*%%!s＞%%!*$} {
    #nop 左侧首行数据;
      process %%1;
  };
  #action {^%%!s│%%!s%%*%%!s│%%!*$} {
    #nop 左侧续行数据;
      process %%1;
  };
  #action {^%%!*＜%%!s%%*%%!s│%%!s$} {
    #nop 右侧首行数据;
      process %%1;
  };
  #action {^%%!*│%%!s%%*%%!s│%%!s$} {
    #nop 右侧续行数据;
      process %%1;
  };
  #action {^[%%*]%%*和%%*转身离去。$} {
    #showme <afa> $code;
    #class conv kill;
    jd;
  };
  #class conv close;
};
#alias process {
  #if {@ismember{%1;blacklist} == 0} {
    #var code ${code}%1;
    #showme <afa> 未命中黑名单，记录: $code;
  };
  #else {#showme <afa> 命中黑名单，丢弃}
};

#alias bm {
  yun beiming $oppo_bm;
};

#alias gm {
  get gem from corpse %1;
};

#act {看起来%*想杀死你} { #var battle 1;
  #var n_oppo1;
	#delay 2 {bm}
};

#action {你在攻击中不断积蓄攻势。(气势：%d%)} {
  #if {"$myid"=="simontuixue" && %1 >= 12} {
    p.lm $oppo;
  };
  #elseif {"$myid"=="jinger"} {
    p.jz;
  }
};
#act {%*死了。} {
  #var f1_set 0;
  l;
  #delay 2 {bm;}
}
#alias f1 {
  #var oppo {%1};
  #var f1_set 1;
};
#alias f2 {
  #var oppo_bm {%1};
  #var f2_set 1;
};
#alias tx {
  p.lm $oppo;
};
#alias pg {
  pack gem;
};
#alias hc {
  do 3 get %1 from bo;
  d1 {
    combine gem;
    d1 {pack gem}
  }
};

#alias jl {
  #var n_oppo %0;
  #showme <afa> OK, n_oppo has been set to $n_oppo;
};
#alias jxfLog {
  #line log {jxf.log} {%0};
};

#alias jm {
  #var job_mod %0;
}

#act {^╭───%*{之周|同庆}┬──────────────────────────────────╮$} {
  #class week open;
    #act {^│%*│→%*韩世忠%*%s│$} {#var job_mod  0};
    #act {^│%*│↑%*韩世忠%*%s│$} {#var job_mod  1};
    #act {^│%*│↓%*韩世忠%*%s│$} {#var job_mod -1};
    #act {^╰───────┴─────────────────────────北大侠客行────╯$} {#class week kill};
  #class week close;
  #showme <afa> bonus_mode: $job_mod;
};
#class report open;
  #act {^%!s%*点经验；$} {
    #var exp %1;
  };
  #act {^%!s%*点潜能；$} {
    #var pot %1;
  };
  #act {^%!s%*点江湖声望。$} {
    #var fam %1;
  };
  #act {^你已经完成了%*次清除异族奸细的工作。$} {
    #var taskid %1;
    #class report kill;
  };
#class report close;

#act {^│幸运值%!s│%d%!s│奖励系数%!s│%d% %!s│识图检查%!s│%*完整奖励%*│$} { #var luck %1; #var bonus %2; };
#act {你被奖励了：} {
  #format time {%t} {%Y-%m-%d-%H:%M:%S};
  #delay 1 {
    #format record {%s;%s;%s;%d;%d;%d;%s;%s;%s;%s} {$job_mod} {$loc} {$n_oppo} {@ctd{$exp}} {@ctd{$pot}} {@ctd{$fam}} {@ctd{$taskid}} {$time} {$luck} {$bonus};
    #showme <afa> $record;
    jxfLog $record;
    #untic jxfa1;jxfx;
  }
};
#list blacklist create {
  首领布置了天罗地网对;
  付姓杨的，谅他这次插;
  翅难逃。;
  还用你说？;
  那还用说？;
  这毫无疑问。;
  我也是这样想的。;
  我们说啥来对口令的？;
  行动的口令我记不太清;
  了……;
  真要我再说一遍？;
  你怎么这都记不住？;
  暗号是啥来着的？;
  附耳过来！;
  真笨！;
  嘿嘿嘿嘿;
  哈哈哈哈;
  哦;
  我最近偶感风寒，什么;
  都记不住;
  真是这个？
};

#act {看起来%1想杀死你} {#var jxfss %1};
#act {%*脚下一个不稳，跌在地上一动也不动了。} {
  #var oppo $oppo_bm;
};
#gag {^[舜耕山]%*$};
#class jxfa close;
