#class yta open;
#ali yt1 {
	uw all;
	get 1 yun tie from bao fu 1;
	wi yun tie;
	#delay 1 {
		get 1 yun tie from bao fu 2;
		put yun tie in bao fu 2;
	}
};

#act {^你将%*陨铁放进%*} {
	#delay 1 {yt1};
};
#act {^这里没有这样东西} {
	ytx;
};
#class yta close;
